<% layout("layouts/boilerplate") %>

<div class="container mt-4">
    <h3>Create a New Listing</h3>

    <form action="/listings" method="POST">

        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" name="listing[title]" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" rows="3"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Image URL</label>
            <input type="text" name="listing[image][url]" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" name="listing[price]" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Country</label>
            <input type="text" name="listing[country]" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Location</label>
            <input type="text" name="listing[location]" class="form-control">
        </div>

        <button class="btn btn-dark add-btn">Add Listing</button>
    </form>
</div>
